
@{
    ViewBag.Title = "CargarArchivo";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CargaArchivos</title>
</head>
<body>
    <div>
        <p>Carga existosa!!</p>
    </div>
</body>
</html>


