
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @if(ViewBag.showSuccessAlert)
    {
    <script>
            alert('No se ha seleccionado ningún archivo');
    </script>
    }
</head>
<body>
    <div>
        <p><a href="/CargaExcel/IngresoArchivo">Ingresar Archivo</a></p>
    </div>
</body>
</html>
