@model SAS.v1.Models.ProfesionalDocenteGuia

@{
    ViewBag.Title = "ErrorPerfil";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexJefeCarrera</title>
</head>
<body>
    <div>
        <h4>ProfesionalDocenteGuia</h4>
        <hr />
        <h5>Solo el perfil administrador puede acceder a esta pantalla</h5>
       </div>
</body>
</html>
