fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    /*padding-top: 0.35em;*/
    padding-bottom: 0.35em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    border-radius: 10px;
    border-color: #E4E6E8;
    background-color: #f5f5f5;
    margin: auto;
}

.required:after{
    content: "*";
    font-weight: bold;
    color: red;
}

.breadcrumb > .opcion {
    float: right;
}

.breadcrumb > li + li.opcion:before{
  padding: 0 5px;
  color: black;
  content: "\00a0|\00a0";
}

.breadcrumb > .active {
    color: red;
}
