@model IEnumerable<SAS.v1.Models.Carrera>
@{
    ViewBag.Title = "CargaAsignaturas";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @if (ViewBag.showSuccessAlert)
    {
        <script>
            alert('No se ha seleccionado ningún archivo');

        </script>
    }
    @if (ViewBag.EstadoDeProceso)
    {
        <script>
           $('#ProgressBar').modal('hide');
        </script>
        <script>
            alert('El archivo se ha cargado exitosamente!');

        </script>
    }

</head>
<body>
    <div> 
@using (Html.BeginForm("Index", "CargarAsignaturas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <p>Nombre Hoja Excel:</p>
        <input type="text" name="NombreHoja" />
        <p>Carrera:</p>
        <input type="text" name="carrera" />

        <input type="file" name="archivo" class="form-control-file" /><br />
        @ViewBag.Message
        <input id="bottonSubmit" type="submit" name="submit" value="Cargar Archivo" class="btn btn-primary" onclick="Cargar()" />
}


        <div class="modal js-loading-bar" id="ProgressBar">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="progress progress-popup">
                            <div class="progress-bar progress-bar-striped active progress-bar-animated" role="progressbar" style="width: 100%">Cargando...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>


<script>
    function Cargar() {

        $("#ProgressBar").modal({
            clickClose: false
        })
        //document.getElementById("ProgressBar").style.visibility = "visible";
        $('#ProgressBar').modal('show')




    }

</script>
