
@{
    ViewBag.Title = "Carga Plan estudios";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CargarPlanEstudios</title>

    @if (!ViewBag.EstadoDeProceso)
    {
        <script>
            $('#ProgressBar').modal('hide');
           
            alert('El archivo se ha cargado con exito!');

        </script>
    }
    @if (!ViewBag.showSuccessAlert)
    {
        <script>
       
            alert('El archivo se ha cargado con exito!');

        </script>
    }
    else if(ViewBag.showErrorAlert)
    {
        <script>
            alert('No se ha seleccionado ningún archivo');
        </script>
        
    }
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Moment Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "CargarPlanEstudios", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            if (ViewBag.Exception != null)
            {
                <div class="alert alert-danger" role="alert">
                    <strong>Error!:</strong>   @ViewBag.Exception
                </div>
            }

            <div class="form-group">
                <label for="Carrera-name" class="col-form-label">Carrera:</label>
                @Html.DropDownList("CarreraId", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label for="Carrera-name" class="col-form-label">Año:</label>
                @Html.DropDownList("AnioId", null, htmlAttributes: new { @class = "form-control" })
            </div>


            <p>Nombre Hoja:</p>
            <input class="form-control" type="text" name="NombreHoja" />
            <input type="file" name="archivo" class="form-control-file" /><br />
            <br />
            
            @ViewBag.Message
            <input id="bottonSubmit" type="submit" name="submit" value="Cargar Archivo" class="btn btn-primary" onclick="Cargar()" />
        }


        <div class="modal js-loading-bar" id="ProgressBar">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="progress progress-popup">
                            <div class="progress-bar progress-bar-striped active progress-bar-animated" role="progressbar" style="width: 100%">Cargando...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>

<script>
    function Cargar() {

        $("#ProgressBar").modal({          
            clickClose: false
        })
        //document.getElementById("ProgressBar").style.visibility = "visible";
        $('#ProgressBar').modal('show')

      
        

    }
    
</script>
